<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow>
  <appSettings>
    <add key="target_browser" value="chrome" />
    <add key="base_url" value="http://www.google.com/" />
    <add key="search_term" value="cnn" />
    <add key="search_validation" value="CNN - Breaking News, Latest News and Videos" />
  </appSettings>
</configuration>